<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Sitecore.Kernel" version="9.0.1" targetFramework="net462" />
  <package id="SPS.Sitecore.Framework.Publishing.Abstractions" version="" targetFramework="net462" />
  <package id="SPS.Sitecore.Framework.Publishing.Common" version="" targetFramework="net462" />
  <package id="SPS.Sitecore.Publishing.Service" version="" targetFramework="net462" />
  <package id="SPS.System.Reactive.Core" version="" targetFramework="net462" />
  <package id="SPS.System.Reactive.Interfaces" version="" targetFramework="net462" />
  <package id="SPS.System.Reactive.Linq" version="" targetFramework="net462" />
</packages>
